<html>
<style type="text/css">
  div.tit{

    font-size:125px;
    text-align: center;
  }
</style>




  <head>
    <div class="tit"><span style="font-weight:bold;color:FF3333;font-family:隶书;">学生管理系统</span></div>
    <title>{% block title %}缺省标题{% end %}</title>
    {% block js %}
    {% end %} 
  </head>
  
  <body background="http://web.ptjy.com/web/usersite/xyxdjzx/UploadFiles/20121009215629116.jpg">
          {% block menu %}{% end %}
          {% block label1 %}{% end %}
          {% block label2 %}
          <div align="center"><a href="/stulist"><img src="http://www.cnr.cn/lvyou/list/201408/W020140828414099469912.gif" height"300" width"300"></div></a>{% end %}
        <td>
        {% block content %}
        {% end %}          
        </td>
      </tr>
  </body>
</html>
