{% extends "base.html" %}
{% block title %} 
  学生清单  
{% end %}
{% block js %}

{% end %} 

{% block menu %}<div align="center"><a style="fontsize：500px"><b>菜单</b></a></div>{% end %}



{% block label1 %}
 <div align="right"><li><a href="/"><b>返回主页</b></a></li></div>
{% end %}




{% block label2 %}
<div align="right"><li><a href="/stulist"><b>学生</b></a></li></div>
{% end %}




{% block content %}
	<div align="right"><a href="stuedit/new"><b>新建学生信息</b></a></div>
	<hr>
	<table align="center" valign="middle">
		<tr>
			<td>学号</td>
			<td>姓名</td>
			<td>出生日期</td>
			<td>班级</td>
			<td>性别</td>
		</tr>
		{% for stu in student %}
		<tr>
			<td>{{stu['stu_id']}}</td>
			<td>{{ stu['name'] }}</td>
			<td>{{stu['stu_bir']}}</td>
			<td>{{ stu['stu_no'] }}</td>			
			<td>{{ stu['gda'] }}</td>
			<td>
				<input type="button" onclick="javascript:window.location.href='stuedit/{{stu['stu_sn']}}';" value="修改">
				<input type="button" onclick="javascript:window.location.href='studel/{{stu['stu_sn']}}';" value="删除">
			</td>
		</tr>
		{% end %}
	</table>
	<marquee width=90%> 
    <a href="stuedit/new"><b>新建学生信息 这里也可以！！！</b></a>
  	</marquee>
{% end %}
