{% extends "base.html" %}
{% block title %} 
  修改课程信息
{% end %}

{% block label2 %}
<li><a href="/">返回主页</a></li>
{% end %}

{% block content %} 
	<a href="/stulist">返回学生清单</a>
	<hr>
	<form action="/stuedit/{{student['stu_sn']}}" method="post">
	学号：<input type="text" name="stu_id" value="{{student['stu_id']}}"><br>
    姓名：<input type="text" name="name" value="
    {{student['name']}}"><br>
    出生日期：<input type="text" name="stu_bir" value="{{student['stu_bir']}}"><br>
    班级：<input type="text" name="stu_no" value="{{student['stu_no']}}"><br>
    性别：<input type="text" name="gda" value="{{student['gda']}}">
    <input type="submit" value="提交">
    </form>

{% end %}
