{% extends "base.html" %}
{% block title %} 
  学生清单  
{% end %}
{% block js %}

{% end %} 

{% block menu %}菜单{% end %}



{% block label1 %}
 <li><a href="/">返回主页</a></li>
{% end %}




{% block label2 %}
<li><a href="/stulist">学生</a></li>
{% end %}




{% block content %}
	<a href="stuedit/new">新建学生信息</a>
	<hr>
	<table align="center" valign="middle">
		<tr>
			<td>学号</td>
			<td>姓名</td>
			<td>出生日期</td>
			<td>班级</td>
			<td>性别</td>
		</tr>
		{% for stu in student %}
		<tr>
			<td>{{stu['stu_id']}}</td>
			<td>{{ stu['name'] }}</td>
			<td>{{stu['stu_bir']}}</td>
			<td>{{ stu['stu_no'] }}</td>			
			<td>{{ stu['gda'] }}</td>
			<td>
				<input type="button" onclick="javascript:window.location.href='stuedit/{{stu['stu_sn']}}';" value="修改">
				<input type="button" onclick="javascript:window.location.href='studel/{{stu['stu_sn']}}';" value="删除">
			</td>
		</tr>
		{% end %}
	</table>
{% end %}
